{% extends 'mainapp/base.html' %}

{% load static %}

{% block header %}
<style>
    h2.center {
        text-align: center;
        font-weight: bolder;
        color: #412855;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: top;
        -webkit-box-pack: justify;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-around;
        padding: 24px 16px;
        margin: 54px 124px;
        min-height: 25vh;
        background-color: #ffffff;
        opacity: 0.8;
        background-image: radial-gradient(#4d9ffe 0.5px, #f4f6f9 0.5px);
        background-size: 10px 10px;
    }

    @media (max-width: 767px) {
        .container {
            margin: 24px 24px;
        }
    }


    .buy-button {
        text-decoration: none;
        border: none;
        padding: 15px 70px;
        border-radius: 8px 0px 8px 0px;
        display: block;
        margin: auto;
        margin-top: 12px;
        background: #583672;
        color: #fff;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        text-align: center;
        transition: 0.45s all;
    }

    .buy-button:hover {
        text-decoration: none;
        border: 1px solid #583672;
        padding: 15px 70px;
        border-radius: 0px 8px 0px 8px;
        display: block;
        margin: auto;
        margin-top: 12px;
        background: #ffffff;
        color: #583672;
        font-weight: bold;
        -webkit-box-shadow: 0px 2px 9px -11px rgba(88, 54, 114, 1);
        -moz-box-shadow: 0px 2px 9px -11px rgba(88, 54, 114, 1);
        box-shadow: 0px 2px 9px -11px rgba(88, 54, 114, 1);
        transition: 0.45s all;
    }

    .breadcrumbs {
        padding: 4px 16px;
        margin: 54px 124px;
    }

    .breadcrumbs a {
        text-decoration: none;
        color: #412855;
        font-style: italic;
    }

    @media (max-width: 767px) {
        .breadcrumbs {
            margin: 24px 24px;
        }
    }

    span.price {
        color: #412855;
        font-size: 220%;
        text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.6);
    }

    span.rs {
        opacity: 0.67;
    }

    .submit {
        border: none;
        padding: 15px 70px;
        border-radius: 8px;
        display: block;
        margin: auto;
        margin-top: 24px;
        background: #583672;
        color: #fff;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        transition: 0.45s all;
    }

    .submit:hover {
        border: 2px solid #583672;
        background: none;
        padding: 15px 70px;
        border-radius: 8px;
        display: block;
        margin: auto;
        margin-top: 24px;
        color: #583672;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        cursor: pointer;
        transition: 0.45s all;
    }

    .username-bar {
        word-wrap: normal;
        background: #87ceeb;
        border: none;
        border-bottom: 1px solid black;
        padding: 12px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .content{
        padding: 12px 24px;
    }

    .content h2{
        text-align: center;
    }

    .date{
        text-align: center;
    }

    .image{
        text-align: center;
        width: 24rem;
        margin: 0 auto;
    }

    .image img{
        width: 100%;
    }

</style>
{% endblock header %}

{% block content %}

<p class="breadcrumbs">
    <a href="{% url 'extras:childcare' %}">
        ChildCare
    </a>
    >
    <span>
        {{ ccdetail.childcaretitle }}
    </span>
    
</p>

<section id="childcareblogs">
    <div class="container">
        <div class="content">
            <h2>
                {{ ccdetail.childcaretitle }}
            </h2>
            <p class="date">
                {{ ccdetail.added_date }}
            </p>
            <div class="image">
                {% if ccdetail.schedule_image %}
                <img src="{{ ccdetail.schedule_image.url }}" alt="">
                {% else %}
                <img src="{{ ccdetail.showcase_image.url }}" alt="">
                {% endif %}
            </div>
            <div class="description">
                {{ ccdetail.description|safe }}
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
<script>
</script>
{% endblock script%}