{% extends 'mainapp/base.html' %}

{% load static %}

{% block header %}
<style>
    h2.center {
        text-align: center;
        font-weight: bolder;
        color: #412855;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: center;
        padding: 24px 16px;
        margin: 54px 124px;
        min-height: 25vh;
        background-color: #ffffff;
        opacity: 0.8;
        background-image: radial-gradient(#4d9ffe 0.5px, #ffffff 0.5px);
        background-size: 10px 10px;
    }

    @media (max-width: 767px) {
        .container {
            margin: 24px 24px;
        }
    }


    .buy-button {
        text-decoration: none;
        border: none;
        padding: 15px 70px;
        border-radius: 8px 0px 8px 0px;
        display: block;
        margin: auto;
        margin-top: 12px;
        background: #583672;
        color: #fff;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
        text-align: center;
        transition: 0.45s all;
    }

    .buy-button:hover {
        text-decoration: none;
        border: 1px solid #583672;
        padding: 15px 70px;
        border-radius: 0px 8px 0px 8px;
        display: block;
        margin: auto;
        margin-top: 12px;
        background: #ffffff;
        color: #583672;
        font-weight: bold;
        -webkit-box-shadow: 0px 2px 9px -11px rgba(88, 54, 114, 1);
        -moz-box-shadow: 0px 2px 9px -11px rgba(88, 54, 114, 1);
        box-shadow: 0px 2px 9px -11px rgba(88, 54, 114, 1);
        transition: 0.45s all;
    }

    .breadcrumbs {
        padding: 4px 16px;
        margin: 54px 124px;
    }

    .breadcrumbs a {
        text-decoration: none;
        color: #412855;
        font-style: italic;
    }

    @media (max-width: 767px) {
        .breadcrumbs {
            margin: 24px 24px;
        }
    }

    span.price {
        color: #412855;
        font-size: 220%;
        text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.6);
    }

    span.rs {
        opacity: 0.67;
    }

    div.img {
        width: 12rem;
        margin: 0 auto;
    }

    img {
        width: 100%;
    }

    .content {
        text-align: center;
    }

    div.main-content {
        text-align: left !important;
    }

    div.main-content ul li::before {
        content: "\2022";
        color: #4d9ffe;
        font-weight: bold;
        display: inline-block;
        width: 2em;
        margin-left: -1em;
    }
</style>
{% endblock header %}

{% block content %}

<p class="breadcrumbs">
    <a href="{% url 'extras:health_packagess' main_p.id %}">
        {{ main_p.package_title_main }}
    </a>
    > {{ hp_details.package_title }}
</p>
<section id="sp_hp_main">
    <div class="container">
        <div class="content">
            <h2>
                {{ hp_details.package_title }}
            </h2>
            <p>
                <span class="rs">
                    Rs
                </span>
                <span class="price">
                    {{ hp_details.package_price }}
                </span>
            </p>
            <div class="img">
                <img src="{{ hp_details.image.url }}" alt="">
            </div>
            <div class="main-content">
                {{ hp_details.description|safe }}
            </div>
        </div>

        <hr>

        <a class="buy-button" href="#">Buy this Package </a>
    </div>
</section>

{% endblock content %}

{% block script %}

{% endblock script%}